html {
  box-sizing: border-box;  
}

body {
    margin: 0;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
}

nav {
  border-bottom: 1px solid #dadada;
  padding: 1rem 1.5rem;
  align-items: center;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

header > div {
  display: flex;
}

.header-icons > span {
  margin-left: 1rem;
  color: #dadada;
  transition: 0.2s;
}

.header-icons > span:hover {
  cursor: pointer;
  color: #333;
  transition: 0.2s;
}

.row {
  display: flex;
  width: 100%;
}

.justify-between {
  justify-content: space-between;
}